{% extends 'adminApp/master.html' %}{%load static %}
{% block titleblock %}
<title>Doctor Appointment | Admin Dashboard</title>
{% endblock %}
{% block headblock %} Upload Doctors data {% endblock %}{% block mainblock %}
<div class="container">
    <form class="row g-3" method="post" action="{% url 'import_doctor_data' %}" enctype="multipart/form-data">
        {% csrf_token %} {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
        {% elif message.tags == 'error' %}
        <div class="alert alert-warning" role="alert">
            {{message}}
        </div>
        {% endif %}
        {% endfor %}

        {% endif %}
        <div class="col-auto">
            <p class="form-control-plaintext">Upload Doctors</p>
        </div>
        <div class="col-auto">
            <input type="file" class="form-control" id="file" name="file" placeholder="Example: Cardiologist">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Upload</button>
        </div>
    </form>
</div>
{% endblock %}