{% extends 'adminApp/master.html' %}{%load static %}
{% block titleblock %}
<title>Doctor Appointment | Admin Dashboard</title>
{% endblock %}
{% block headblock %} View Specialty | <a href="{% url 'add_specialty' %}" class="btn btn-primary"> Add
    new</a> {% endblock %}{% block mainblock %}
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">S.I.</th>
            <th scope="col">Doctor Specialty</th>

        </tr>
        </thead>
        <tbody>
        {% for i in main %}
        <tr>
            <td>{{i.pk}}</td>
            <td>{{i.name}}</td>
            
        </tr>
        {% endfor %}


        </tbody>
    </table>
</div>
{% endblock %}