{% extends 'doctor/master.html' %}{%load static %}
{% block titleblock %}
<title>Doctor Appointment | Dashboard</title>
{% endblock %} {% block headblock %}Hello, Doctor {% endblock %}
{% block mainblock %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card" title="Today Appointment">
                <a href="#">
                    <div class="card-body">
                        <h5 class="card-title text-center text-success"><i class="fa fa-calendar-o" style="font-size: 50px;"
                                aria-hidden="true"></i></h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" title="Profile">
                <a href="{% url 'view_profile' %}">
                    <div class="card-body">
                        <h5 class="card-title text-center text-primary"><i class="fa fa-user" style="font-size: 50px;"
                                aria-hidden="true"></i></h5>

                    </div>
                </a>
            </div>
        </div>
        
        <div class="col-sm-3">
            <div class="card" title="Update password">
                <a href="{% url 'change_password' %}">
                    <div class="card-body">
                        <h5 class="card-title text-center text-info"><i class="fa fa-cogs" style="font-size: 50px;"
                                aria-hidden="true"></i></h5>

                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" title="Logout">
                <a href="{% url 'logout' %}">
                    <div class="card-body">
                        <h5 class="card-title text-center text-danger"><i class="fa fa-sign-out"
                                style="font-size: 50px;" aria-hidden="true"></i></h5>
                        <p class="card-text"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}