{% extends 'doctor/master.html' %}{% load static %}
{% block titleblock %}
<title>Reason | Doctor Appointment</title>
{% endblock %} {% block mainblock %}

{% if main|length > 0%}
<p class="text-center h4">Today Appointments</p>
<div class="table-responsive container">
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Reason</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for i in main %}
        <tr>
            <td>{{i.date_of_unavailability}}</td>
            <td>{{i.reason_of_unavailability|truncatewords:2}}</td>
            <td>
                <a class="btn btn-sm btn-dark" href="{% url 'view_reason' i.pk %}">
                    <i class="fa fa-eye" aria-hidden="true"></i> View</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{%else%}
<h2 class="bg-success text-light p-2 text-center">Good. You have never taken leave.</h2>
{%endif%}
{% endblock %}