{% extends 'doctor/master.html' %}{% load static %}
{% block titleblock %}
<title>Appointment Lists | Doctor Appointments</title>
{% endblock %} {% block mainblock %}
<div class="container">
    <p class="text-center h4">Search results ({{date}})</p>
    <hr>
    {% if main|length > 0%}
    <div class="table-responsive ">
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Time-Slot</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>

            {% for i in main %}
            <tr>
                <td>{{i.appointment_date}}</td>
                <td>{{i.probable_start_time}}</td>
                <td>{{i.patient_id.firstname}} {{i.patient_id.lastname}}</td>
                <td>{{i.status}}</td>
                <td><a class="btn btn-sm btn-info" href="{% url 'view_patient_profile' i.patient_id.userid %}">
                    <i class="fa fa-eye" aria-hidden="true"></i> View</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <!-- Pagination Begin -->
    <div class="col-md-12 p-2 mt-5 text-light text-center" style="margin-bottom: 5%;">
        {% if main.has_previous %} <a
            href="?page={{main.previous_page_number}}"
            data-toggle="tooltip" title="Previous"
            class="btn btn-light btn-sm text-dark">&laquo;</a>
        {% endif %}
        {% for i in main.paginator.page_range %}
        {% if main.number == i %}
        <a href="#" data-toggle="tooltip" title="{{Disables}}"
           class="btn btn-primary text-dark  disabled">{{i}}</a>
        {% elif i > main.number|add:'-3' and i < main.number|add:'3' %}
        <a href="?page={{i}}" data-toggle="tooltip"
           title="{{i}}" class="btn btn-light  btn-sm text-dark">{{i}}</a>
        {% endif %}
        {% endfor %}
        {% if main.has_next %}
        <a href="?page={{main.next_page_number}}"
           data-toggle="tooltip" title="Next"
           class="btn btn-sm btn-light text-dark"> &raquo;
        </a>
        {% endif %}
    </div>
    <!-- Pagination Ended -->
    {%else%}
    <p class="lead text-success text-center">No appointment taken.</p>
    {%endif%}

</div>
{% endblock %}