{% extends 'doctor/master.html' %}{% load static %}
{% block titleblock %}
<title>Today | Doctor Appointment</title>
{% endblock %} {% block mainblock %}

{% if appointmentList|length > 0%}
<p class="text-center h4">Today Appointments</p>
<div class="table-responsive container">
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Time-Slot</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for i in appointmentList %}
        <tr>
            <td>{{i.probable_start_time}}-{{i.actual_end_time}}</td>
            <td>{{i.patient_id.firstname}} {{i.patient_id.lastname}}</td>
            <td>{{i.status}}</td>
            <td>
                <a class="btn btn-sm btn-dark" href="{% url 'change_status' i.pk %}">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Update</a>
                <a class="btn btn-sm btn-info" href="{% url 'view_patient_profile' i.patient_id.userid %}">
                    <i class="fa fa-eye" aria-hidden="true"></i> View</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{%else%}
<h2 class="bg-success text-light p-2 text-center">No appointments Left.</h2>
{%endif%}
{% endblock %}