{% extends 'patient/master.html' %}{%load static %}
{% block titleblock %}
<title>Doctor Appointment | Change Password</title>
{% endblock %}
{% block mainblock %}
<div class="container">
    <p class="h4 text-center mt-5">
        Change password
    </p>
    <hr>
    <form action="{% url 'change_password_of_patient' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
        {% elif message.tags == 'error' %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {% endif %}
        {% endfor %}

        {% endif %}
        <div class="mb-3">
            <label for="old_password" class="form-label">Old Password</label>
            <input type="password" class="form-control" id="old_password" name="old_password"
                   placeholder="Old password" required>
        </div>
        <div class="mb-3">
            <label for="old_password" class="form-label">New Password</label>
            <input type="password" class="form-control" id="new_password" onkeyup="isStrong()"
                   aria-describedby="message1" name="new_password"
                   placeholder="New password" required>
            <div id="message1" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="old_password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" onkeyup="validate()"
                   name="confirm_password"
                   aria-describedby="message2" placeholder="Confirm password" required>
            <div id="message2" class="form-text"></div>
        </div>
        <input type="submit" class="btn btn-outline-primary" id="submit" value="Change Password">
    </form>
</div>
<script>
    function isStrong() {
        // This function check whether the password is strong or not.
        let password = document.getElementById("new_password").value;

        let alpha = 0;
        let number = 0;
        let s_alpha = 0;
        if (password.length >= 8) {
            for (var i = 0; i < password.length; i++) {
                if (password[i] >= 'A' && password[i] <= 'Z') {
                    alpha = 1;
                }
                if (password[i] >= '0' && password[i] <= '9') {
                    number = 1;
                }
                if (password[i] >= 'a' && password[i] <= 'z') {
                    s_alpha = 1;
                }
            }
            if (alpha == 1 && number == 1 && s_alpha == 1 && password.length >= 8) {
                document.getElementById("message1").innerHTML = "Password is Strong.";
                document.getElementById("message1").style.color = 'green';
            }
        }
        else if (password.length == 0) {
            document.getElementById("message1").innerHTML = "Length of the password must be 8 or greater!!";
            document.getElementById("message1").style.color = 'skyblue';
        } else {
            document.getElementById("message1").innerHTML = "Password is weak";
            document.getElementById("message1").style.color = 'red';
        }
    }
    function validate() {
        // This function checks both password and confirm_password is same or not.
        let new_password = document.getElementById("new_password").value;
        let confirm_password = document.getElementById("confirm_password").value;
        if (confirm_password == "") {
            document.getElementById("message1").innerHTML = null;
            document.getElementById("message2").innerHTML = "Confirm Password will not be empty!."
            document.getElementById("message2").style.color = 'orange';
            document.getElementById("submit").disabled = true;
        }
        else if (new_password === confirm_password) {
            document.getElementById("message1").innerHTML = null;
            document.getElementById("message2").innerHTML = "Password is matched."
            document.getElementById("message2").style.color = 'green';
            document.getElementById("submit").disabled = false;
        } else {
            document.getElementById("message1").innerHTML = null;
            document.getElementById("message2").innerHTML = "Password is not matched."
            document.getElementById("message2").style.color = 'red';
            document.getElementById("submit").disabled = true;
        }
    }





</script>
{% endblock %}