{% extends 'patient/master.html' %}{% load static %}
{% block titleblock %}
<title>Doctor Profile | Doctor Appointments</title>
{% endblock %}
{% block mainblock %}
<div class="container">
    <!-- Personal Info started -->
    <table class="table">
        <thead>
        <tr>
            <td colspan="2" style="font-size: larger;"><b>Bio</b></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Full Name</td>
            <td>{{doctors.firstname}} {{doctors.lastname}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{doctors.email}}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{doctors.phone}}</td>
        </tr>
        <tr>
            <td>Specialization</td>
            <td>{{doctors.specialty}}</td>
        </tr>
        <tr>
            <td>Practicing from</td>
            <td>{{doctors.practicing_year}}</td>
        </tr>
        <tr>
            <td>Office Address</td>
            <td>{{doctors.address1}} {{doctors.address2}}, {{doctors.city}}
                {{doctors.state}} {{doctors.country}}, {{doctors.zipcode}}
            </td>
        </tr>
        <tr>
            <td>Professional Statement</td>
            <td>{{doctors.professional_statement}}</td>
        </tr>


        </tbody>
    </table>
    <!-- Personal Info ended -->

    <div class="row">
        <!-- doctors started   -->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <td colspan="2" style="font-size: larger;"><b>Higher doctors</b></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Course Name</td>
                            <td>{{doctors.course_name}}</td>
                        </tr>
                        <tr>
                            <td>Institute Name</td>
                            <td>{{doctors.institute_name}}</td>
                        </tr>
                        <tr>
                            <td>Passing Year</td>
                            <td>{{doctors.passing_year}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- doctors ended   -->
        <!-- Availability started -->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <td colspan="2" style="font-size: larger;"><b>Availability</b></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Day of Week</td>
                            <td>{{doctors.day_of_week}}</td>
                        </tr>
                        <tr>
                            <td>Patient visit start time</td>
                            <td>{{doctors.start_time}}</td>
                        </tr>
                        <tr>
                            <td>Patient visit end time</td>
                            <td>{{doctors.end_time}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Availability ended -->
    </div>

    <div class="row mt-3">
        <!-- Time & Fee structure started -->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <td colspan="2" style="font-size: larger;"><b>Time & Fee structure </b></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Time slot per patient time</td>
                            <td>{{doctors.time_slot_per_patient_time}}</td>
                        </tr>
                        <tr>
                            <td>First consultation fee</td>
                            <td>{{doctors.first_consultation_fee}}</td>
                        </tr>
                        <tr>
                            <td>Followup consultation fee</td>
                            <td>{{doctors.followup_consultation_fee}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Time & Fee structure ended -->
    </div>
    <br>
    <br>
</div>
{% endblock %}