{% extends 'patient/master.html' %}{% load static %}
{% block titleblock %}
<title>Patients | Doctor Appointments</title>
<link href="{% static 'css/blog.css' %}" type="text/css">
{% endblock %} {% block mainblock %}
<div class="container">
    <div class="row g-5">
        <div class="col-md-9">
            <h4 class="h1 text-center fst-italic mt-3" style="margin-top:5%;">Search doctors based on related health issue and your current
                cities.</h4>
        </div>

        <div class="col-md-3">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 rounded">
                    <h4 class="fst-italic">Apply filters</h4>
                </div>
                <form action="{%url 'apply_filter' %}" method="post">
                    {% csrf_token %}
                    <div class="p-2">
                        <h4 class="fst-italic small">Cities</h4>
                        <select id="city" name="city" size="7">
                            {% for city in cities %}
                            <option value="{{city}}">{{city}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="p-2">
                        <h4 class="fst-italic small">Specialty</h4>
                        <select id="specialty" name="specialty" size="7">
                            {% for i in specialty %}
                            <option>{{i}}</option>
                            {%endfor%}
                        </select>
                        <div class="col">
                            <input type="submit" id="search" class="btn btn-sm btn-outline-info" value="Search">
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}