{% extends 'patient/master.html' %}{% load static %}
{% block titleblock %}
<title>View Profile | Doctor Appointments</title>
{% endblock %} {% block mainblock %}
<div class="container" style="margin-left: 8%; margin-right:8%;">
    <!-- Personal Info started -->
    <table class="table">
        <thead>
        <tr class="text-center">
            <td colspan="2" style="font-size: larger;"><b>Personal Information</b></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>User ID</td>
            <td>{{request.user}}</td>
        </tr>
        <tr>
            <td>Full Name</td>
            <td>{{patient.firstname}} {{patient.lastname}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{patient.userid.email}}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{patient.phone}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{patient.gender}}</td>
        </tr>
        </tbody>
    </table>
    <a href="{% url 'patient_edit_profile' %}" class="btn btn-outline-dark">Edit Profile</a>
    <!-- Personal Info ended -->
    <hr>
    <p class="lead" style="font-size: larger;"><i class="fa fa-clock-o" aria-hidden="true"></i> Recent Activity</p>
    <hr>
    {% if recent.canceled > 0 %}
    <div class="alert alert-danger" role="alert">
        1 Appointment is canceled.
    </div>
    {% endif %}
    {% if recent.visited > 0 %}
    <div class="alert alert-success" role="alert">
        1 appointment is completed.
    </div>
    {% endif%}
    {% if recent.notVisited > 0 %}
    <div class="alert alert-info" role="alert">
        1 appointment is scheduled.
    </div>
    {% endif%}
    {% if recent.notVisited > 0 and recent.visited > 0 and recent.canceled > 0%}
    <p>No recent activity</p>
    {% endif %}
</div>
{% endblock %}